<section id="hero">
  <%= render partial: "shared/hero" %>
</section>
<section id="vsm-introduction">
  <div class="container">
    <div class="flex-row flex-row-centered">
      <div class="flex-row-element flex-one-third">
        <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/master.png">
      </div>
      <div class="flex-row-element flex-two-thirds">
        <p class="highlight-text center-align">
          The Victoria McGrath Foundation was created in 2018 to honor the memory of a remarkable young woman, Victoria McGrath, committed to bringing hope and care to vulnerable and underserved people.
        </p>
      </div>
    </div>
  </div>
</section>

<%# <section id="funding-stats">
  <div class="container">
    <div class="funding-stats">
      <h3 class="funding-stats__title">you've given over $29,000 to those in need</h3>
      <div class="funding-stats__orgs fade-carousel">
        <h5 class="funding-stats__org-item"> Prospector Theater </h5>
        <h5 class="funding-stats__org-item"> Joni and Friends </h5>
      </div>
    </div>
  </div>
</section> %>
<section id="home-featured-project">
  <%= render partial: "shared/project_page", locals: { project: @featured_project } %>
</section>

<%#
<section id="home-upcoming-project">
  <div class="section-header-wrapper left-stroke centered">
    <h4 class="section-header"><em>Upcoming</em> Events</h4>
  </div>
  <div class="container">
    <div class="flex-row-element">
      <p>
        On Memorial Day weekend, the "golden feet" of the Weston Adult Soccer League held their annual tournament to raise funds with us for local charities.  Seventy members played their hearts out for three games, and children participated in a penalty shoot out.  Team Turquoise went undefeated to bring home the trophy!
      </p>
      <div class="wasl-image-wrapper">
        <img class="wasl-image" src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/wasl_2018.jpg">
      </div>
      <p class="center-align">
        <br>
        Funds raised through player donations and the generous support of corporate sponsorships, will support the following charities:
      </p>
    </div>
    <div class="flex-row">
      <div class="flex-one-third triple-display-item">
        <h5 class="center-align">The Child Guidance Center of Mid Fairfield County</h5>
        <p>
          “Giving Hope, Changing Lives” helps children with mental and behavioral health needs achieve emotional stability, academic success, and happy and productive lives.
        </p>
      </div>
      <div class="flex-one-third triple-display-item">
        <h5 class="center-align">The Prospector Theater</h5>
        <p>
          The Prospector Theater provides meaningful employment to people with disabilities through the operation of a premium, first-run movie theater in historic Ridgefield CT.  The employees, known as Prospects, live a higher quality of life through meaningful employment, and are encouraged to sparkle, shine, and turn their passions into professions.
        </p>
      </div>
      <div class="flex-one-third triple-display-item">
        <h5 class="center-align">Weston Coalition for a Safe and Healthy Community</h5>
        <p>
          Together with the Weston PTO, this organization will continue to educate, raise awareness, and hopefully prevent students and their families from the pain and suffering of drug and alcohol addition.
        </p>
      </div>
    </div>
  </div>
  <div class="flex-row flex-row-centered section-image wasl-photos gradient-background">
    <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/wasl_suits.jpg">
    <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/wasl_players.jpg">
  </div>
  <div class="container">
    <div class="flex-row-element">
      <p>
        As we remembered the sacrifice of our veterans on Memorial Day weekend, we wanted to take care of veterans in their transition back home. Thanks to the generosity of WASL, the Weston Kiwanis and the Weston High School, we collected 32 business suits for veterans to help in their transition back to the workforce and "wish list" items for veterans staying at Homes for the Brave and Female Soldiers, Forgotten Hero's in Bridgeport.
        <br><br>
        We were honored to team up with the Weston Adult Soccer League, a generous group giving their time and resources to help individuals most at risk and in need.
      </p>
    </div>
    <div class="flex-row flex-row-centered">
      <%= link_to "Donate", donate_index_path, class: "navbar-link navbar-link-darker" %>
    </div>
  </div>
</section>
