<section id="home-body">
  <%= render partial: "shared/hero" %>
  <div class="get-involved">
    <div class="section-header-wrapper left-stroke centered">
      <h4 class="section-header">Door Opener</h4>
    </div>
    <div class="container">
      <div class="item-row item-row-centered">
        <div class="row-element row-element-centered one-third">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/wick_2.jpg">
        </div>
        <div class="row-element two-thirds">
          <p>
            <strong>Victoria dreamed of running the Boston Marathon.</strong>  Many of the Boston Marathon survivors - both avid runners and non-runners have run to personally challenge fear, train together, and to demonstrate <strong>BOSTON STRONG</strong>.  This year, Victoria's best friend L'OR Iman Puymartin will run the marathon and several friends will run the BAA 5K on Victoria's behalf to remember the five year anniversary of the bombing, and to make difference for a cause Victoria was passionate about - helping children in need.
            <br><br>
            There are over 1.5M Syrian refugee children in Lebanon living in tented settlements.  L'Or Iman will run for the Kayany Foundation in Lebanon.  The Kayany Foundation provides education, and support programs to the most marginalized children also equipping them with boots, blankets and other winter materials to help them through the cold and rainy months.  We selected Kayany Foundation as a trusted "boots on the ground" local approach, the severe need and their ability to make a sustainable difference.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
