<section id="home-body">
  <%= render partial: "shared/hero" %>
  <div class="white-background">
    <div class="container">
      <div class="full-page-text">
        <h5 class="no-margin">'My role models are those who are willing to be the first to open a door that allows thousands of others to pass through'</h5>
      </div>
    </div>
  </div>
  <div class="get-involved">
    <div class="container">
      <h4 class="section-header-centered">Door Opener</h4>
      <div class="item-row">
        <div class="row-element">
          <h6> Boston Marathon </h6>
          <p>
            Praesent vel vehicula nulla. Fusce lacinia metus sed vestibulum placerat. Nam nec purus rhoncus, egestas tellus at, viverra magna. Donec rhoncus sapien vitae augue malesuada, in dapibus ipsum hendrerit. Cras hendrerit ex et mi cursus facilisis.
          </p>
        </div>
        <div class="row-element">
          <h6> Victoria's Playground </h6>
          <p>
            Praesent vel vehicula nulla. Fusce lacinia metus sed vestibulum placerat. Nam nec purus rhoncus, egestas tellus at, viverra magna. Donec rhoncus sapien vitae augue malesuada, in dapibus ipsum hendrerit. Cras hendrerit ex et mi cursus facilisis.
          </p>
        </div>
        <div class="row-element">
          <h6> Where Angels Play </h6>
          <p>
            Praesent vel vehicula nulla. Fusce lacinia metus sed vestibulum placerat. Nam nec purus rhoncus, egestas tellus at, viverra magna. Donec rhoncus sapien vitae augue malesuada, in dapibus ipsum hendrerit. Cras hendrerit ex et mi cursus facilisis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
