<section id="home-body">
  <%= render partial: "shared/hero" %>
  <div class="container-not-padded">
    <div class="homepage-content">
      <div class="section-split">
        <div class="section-first section-image">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/master.png">
        </div>
        <div class="section-second section-content">
          <h6>My role models are those who are willing to be the first to open a door that allows thousands of others to pass through</h6>
        </div>
      </div>
    </div>
  </div>
</section>
