<section id="hero">
  <%= render partial: "shared/hero" %>
</section>
<section id="home-introduction">
  <div class="container">
    <div class="flex-row flex-row-centered">
      <div class="flex-row-element flex-one-third">
        <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/master.png">
      </div>
      <div class="flex-row-element flex-two-thirds">
        <p class="highlight-text center-align">
          The Victoria McGrath Foundation was created in 2018 to honor the memory of a remarkable young woman, Victoria McGrath, committed to bringing hope and care to vulnerable and underserved people.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="home-main-content">
  <div class="section-header-wrapper centered">
    <h4 class="section-header">Door Opener</h4>
  </div>
  <div class="container">
    <div class="flex-row-element">
      <p>
        For our latest Door Opener Project we will team with the Weston Adult Soccer League to raise funds for charity in their annual Memorial Day Soccer Tournament. The tournament is Sunday May 27th from 8AM to Noon on the Weston High School lower turf field.
        <br><br>
        Not only are the players of the Weston Adult Soccer League the local "golden feet", they are also a generous group giving their time and resources to help individuals most at risk and in need, especially advocating for children.
      </p>
    </div>
    <div class="flex-row">
      <div class="flex-one-third triple-display-wrapper">
        <h5 class="center-align">The Child Guidance Center of Mid Fairfield County</h5>
        <p>
          “Giving Hope, Changing Lives” helps children with mental and behavioral health needs achieve emotional stability, academic success, and happy and productive lives.
        </p>
      </div>
      <div class="flex-one-third triple-display-wrapper">
        <h5 class="center-align">The Prospector Theater</h5>
        <p>
          The Prospector Theater provides meaningful employment to people with disabilities through the operation of a premium, first-run movie theater in historic Ridgefield CT.  The employees, known as Prospects, live a higher quality of life through meaningful employment, and are encouraged to sparkle, shine, and turn their passions into professions.
        </p>
      </div>
      <div class="flex-one-third triple-display-wrapper">
        <h5 class="center-align">Weston Coalition for a Safe and Healthy Community</h5>
        <p>
          Together with the Weston PTO, this organization will continue to educate, raise awareness, and hopefully prevent students and their families from the pain and suffering of drug and alcohol addition.
        </p>
      </div>
    </div>
    <div class="flex-row flex-row-centered">
      <div class="homepage-video">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NG3ux7RXoEk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="flex-row-element">
      <br><br>
      <p>
        Throughout the month of May we will partner with the Weston Boys and Girls Soccer Teams to run a collection for our veterans at Homes for Brave in Bridgeport CT.  We will collect wish list items and "business suits" for our veterans to aid in their transition back in USA.  Collections can be made by students at the Weston High School and will also be collected on game day.
      </p>
    </div>
    <div class="flex-row flex-row-centered">
      <%= link_to "Donate", donate_index_path, class: "navbar-link navbar-link-darker" %>
    </div>
  </div>
</section>
