<section id="home-body">
  <%= render partial: "shared/hero" %>
  <div class="section-wrapper">
    <div class="container">
      <div class="item-row item-row-centered">
        <div class="row-element one-third">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/master.png">
        </div>
        <div class="row-element two-thirds">
          <p class="highlight-text center-align">
            The Victoria McGrath Foundation was created in 2018 to honor the memory of a remarkable young woman, Victoria McGrath, committed to bringing hope and care to vulnerable and underserved people. 
          </p>
        </div>
      </div>
    </div>
    <div class="section-header-wrapper centered">
      <h4 class="section-header">Opening the Door for Families with Disabilities</h4>
    </div>
    <div class="container">
      <div class="item-row item-row-centered">
        <div class="row-element">
          <p>
            In our first Door Opening event, our runners laced up and completed the B.A.A. 5K run on Saturday, April 14, and on Monday, April 16, Victoria's best friend completed the Boston Marathon to continue her race!
          </p>
          <h5 class="center-align"> We Exceeded Our Goal! </h5>
          <p>
            Our goal was to send five families affected by disability to attend a refreshing week at Joni and Friends Family Retreat in New England. This unique, valuable experience provides much-needed family fun, encouragement and support for families who often deal with life-altering disabilities in isolation the other 51 weeks out of the year. We look forward to meeting the families and sharing their stories with you this Summer. Thanks to your amazing generosity we exceeded our goal, and will also donate <span class="blue-gold-contrast">26</span> restored wheel chairs to individuals in need. 
          </p>
        </div>
      </div>
      <div class="home-project-images section-image 2-wrap-carousel">
        <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/vsm_5k_1.jpg">
        <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/lor_marathon_1.JPG">          
      </div>
      <div class="item-row item-row-centered">
        <div class="homepage-video">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4DdoepWEnkY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="item-row item-row-centered">
        <%= link_to "Donate", donate_index_path, class: "navbar-link navbar-link-darker" %>
      </div>      
    </div>
  </div>
</section>
