<section id="home-body">
  <%= render partial: "shared/hero" %>
  <div class="section-wrapper">
    <div class="section-header-wrapper left-stroke centered">
      <h4 class="section-header">Door Opener</h4>
    </div>
    <div class="container">
      <div class="item-row item-row-centered">
        <div class="row-element row-element-centered one-third">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/wick_2.jpg">
        </div>
        <div class="row-element two-thirds">
          <p>
            <strong>Victoria dreamed of running the Boston Marathon</strong>. Many of the Boston Marathon survivors, both avid runners and non-runners, have run to personally challenge fear, train together, and to demonstrate <strong><span class="gold-color">BOSTON</span> <span class="blue-color">STRONG</span></strong>. This year, Victoria's best friend L'OR Iman Puymartin will run the marathon and several friends will run the BAA 5K on Victoria's behalf to remember the five year anniversary of the bombing, and to make difference for a cause Victoria was passionate about - helping children in need.
            <br><br>
            One in 10 children live with disabilities.
            <br><br>
            There are many worthy causes to support.  We selected Joni and Friends as reflective of Victoria's caring nature, love for special needs families, and as a charity that she served in.  Our goal is to sponsor at least five families to attend a Family Retreat in New England this Summer.  Family Retreats offer a haven for special needs families in a safe and accepting environment where they are cared for, encouraged, and rejuvenated in a fully accessible camp environment.
          </p>
        </div>
      </div>
      <div class="item-row-centered">
        <p>
          Short Term Missionaries like Victoria, serve as caring companions to a child with a disability for the week.  They are friends giving their time and love caring for a child allowing family caretakers time to worship, attend practical seminars and have fun with other families who understand the challenges of life with disability.
          <br><br>
          Please consider sponsoring L'Or Iman and our BAA 5K runners and make a donation to sponsor five families in attending a Family Retreat at Joni and Friends in New England.  Donations will be matched by the foundation to accomplish our goal.
        </p>
      </div>
      <div class="item-row item-row-centered">
        <%= link_to "Donate", donate_index_path, class: "navbar-link navbar-link-darker" %>
      </div>
    </div>
  </div>
</section>
