<section id="donate">
  <div class="container">
    <div class="donation-wrapper">
      <div class="donation-system">
        <%= render partial: "shared/donation_form" %>
      </div>
      <div class="donation-details">
        <p>
          The Victoria S.  McGrath Foundation is a 501(c)(3) organization. All gifts are tax deductible to the full extent allowed by federal law. The Victoria S. McGrath Foundation federal tax ID number is 82-4235964. 
          <br><br>
          Our policy is to apply donations designated to a specific program or outreach. Thank you for your consideration and donation! 
          <br><br>
          Checks can be sent to:
          <address class="donation-address">
            Victoria McGrath Foundation
            <br>
            PO Box 1227
            <br>
            Weston, CT 06883
          </address>
        </p>
      </div>
    </div>
  </div>
</section>
