<section id="donate">
  <div class="container">
    <div class="content-section">
      Checks can be sent to:
      <address>
        The Victoria S McGrath Foundation<br>
        28 Davis Hill Road<br>
        Weston, CT 06883
      </address>
    </div>
    <div class="donation-notice">
      The Victoria S McGrath Foundation is a 501(c)(3) organization. Gifts are deductible to the full extent allowable under IRS regulations
    </div>
  </div>
</section>
