.button {
  background-color: $action-color;
  border-bottom: 3px solid $text-color;
  border-radius: 3px;
  color: $vsm-primary;
  padding: 8px 20px;
  font-family: $base-font-family;

  &:hover {
    background-color: $action-color-hover;
    color: $white;
  }

  &.light {
    border-color: $vsm-primary;

    &:hover {
      background-color: $light-action-color-hover;
      color: $action-color-hover;
    }
  }
}

.social-media-button {
  @include padding(15px);
  border: none;
  border-radius: 50%;
}
