.main {
  padding: 40px 0;
  background-color: $background-color;
}

body {
  margin: 0;
}

section {
  margin: 20px 0;
}

.no-margin {
  margin: 0;
}

.highlight-text {
  font-size: $large-font-size;
}

.gradient-background {
  background: $base-gradient;
}
