.main {
  padding: 40px 0;
  background-color: $background-color;
}

body {
  margin: 0;
}

.white-outline {
  display: inline-block;
  @include padding(3px 7.5px);
  background-color: $cream-bg;
}

.darker-bg {
  background-color: $background-color;
}

.no-margin {
  margin: 0;
}

.highlight-text {
  font-size: $large-font-size;
}