.main {
  padding: 40px 0;
  background-color: $background-color;
}

body {
  background-color: $background-color;
  margin: 0;
}

.section-header {
  margin-bottom: 0;
}

.gradient-heading {
  background-color: rgba(242, 185, 184, .5);
  display: inline-block;
}

.white-outline {
  display: inline-block;
  @include padding(3px 7.5px);
  background-color: $cream-bg;
}

.white-background {
  background-color: $white;
}

.no-margin {
  margin: 0;
}
