<footer role="contentinfo">
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <p>&copy; Victoria S. McGrath Foundation 2018</p>
        Contact us at <a class="contact-email" href="mailto:hello@victoriamcgrath.org">hello@victoriamcgrath.org</a>
      </div>
      <div class="footer-action">
        <%= link_to "https://www.facebook.com/victoriamcgrath.org/" do %>
          <%= import_icon("facebook") %>
        <% end %>
        <div class="mailing-list-form">
          <div class="mailing-list-cta">
            Subscribe to our mailing list for the latest updates.
          </div>
          <%= render partial: "shared/mailing_list_form" %>
        </div>
        <%= render partial: "shared/footer-navigation" %>
      </div>
    </div>
  </div>
</footer>
