<footer role="contentinfo">
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <p>&copy; Victoria McGrath Foundation 2018</p>
        Contact us at <span class="contact-email">hello@victoriamcgrath.org</span>
      </div>
      <div class="footer-action">
        <div class="contact">
        </div>
        <div class="mailing-list-form">
          <div class="mailing-list-cta">
            Subscribe to our mailing list for the latest updates.
          </div>
          <%= render partial: "shared/mailing_list_form" %>
        </div>
      </div>
    </div>
  </div>
</footer>
