<footer role="contentinfo">
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <p>&copy; Victoria McGrath Foundation 2018</p>
      </div>
      <div class="footer-action">
        <ul class="horizontal-list">
        </ul>
      </div>
    </div>
  </div>
</footer>
