<div class="hero">
  <div class="hero-content">
    <h3 class="center-header"><span class="white-outline">Opening Doors, <br>Uplifting Lives</span></h3>
    <h2><span class="white-outline">Victoria S. McGrath Foundation</span></h2>
  </div>
</div>
