<div class="hero">
  <div class="hero-content">
    <h3 class="center-header hero-title"><span class="white-outline">Opening Doors, <br>Uplifting Lives</span></h3>
    <h2 class="hero-title"><span class="white-outline">Victoria McGrath Foundation</span></h2>
  </div>
</div>
