<div class="hero-wrapper">
  <div class="hero"></div>
  <div class="full-page-text container-small">
    <h5 class="no-margin">'My role models are those who are willing to be the first to open a door that allows thousands of others to pass through'</h5>
  </div>
</div>
