<title>Victoria McGrath Foundation</title>
<meta name="description" content="The Victoria McGrath Foundation was created in 2018 to honor the memory of a remarkable young woman, Victoria McGrath, committed to bringing hope and care to vulnerable and underserved people.">

<meta itemprop="name" content="Victoria McGrath Foundation">
<meta itemprop="description" content="The Victoria McGrath Foundation was created in 2018 to honor the memory of a remarkable young woman, Victoria McGrath, committed to bringing hope and care to vulnerable and underserved people.">
<meta itemprop="image" content="https://s3.amazonaws.com/victoriamcgrathfoundation/logos/VMF_logo.svg">

<meta property="og:url" content="https://www.victoriamcgrath.org">
<meta property="og:type" content="website">
<meta property="og:title" content="Victoria McGrath Foundation">
<meta property="og:description" content="The Victoria McGrath Foundation was created in 2018 to honor the memory of a remarkable young woman, Victoria McGrath, committed to bringing hope and care to vulnerable and underserved people.">
<meta property="og:image" content="https://s3.amazonaws.com/victoriamcgrathfoundation/logos/VMF_logo.svg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Victoria McGrath Foundation">
<meta name="twitter:description" content="The Victoria McGrath Foundation was created in 2018 to honor the memory of a remarkable young woman, Victoria McGrath, committed to bringing hope and care to vulnerable and underserved people.">
<meta name="twitter:image" content="https://s3.amazonaws.com/victoriamcgrathfoundation/logos/VMF_logo.svg">

<meta name="theme-color" content="#013D45">
<%= render partial: "shared/google_tag_manager" %>