<section id="events">
  <% if @upcoming_events.present? %>
    <div class="section-header-wrapper left-stroke centered">
      <h4 class="section-header">Upcoming Events</h4>
    </div>
    <div class="container">
      <div class="upcoming-events">
        <%= render partial: "shared/event-card", collection: @upcoming_events, as: :event %>
      </div>
    </div>
  <% end %>
  <% if @past_events.present? %>
    <div class="section-header-wrapper left-stroke centered">
      <h4 class="section-header">Past Events</h4>
    </div>
    <div class="container">
      <div class="past-events">
        <%= render partial: "shared/event-card", collection: @past_events, as: :event %>
      </div>
    </div>
  <% end %>
  <br/>
  <% if admin_user? %>
    <%= link_to "New Event", new_event_path, class: "button" %>
  <% end %>
</section>
