<section id="events">
  <div class="container">
    <% if @upcoming_events.present? %>
      <div class="upcoming-events">
        <div class="section-header-wrapper centered">
          <h4 class="section-header">Upcoming Events</h4>
        </div>
        <%= render partial: "shared/event-card", collection: @upcoming_events, as: :event %>
      </div>
    <% end %>
    <% if @past_events.present? %>
      <div class="past-events">
        <h3> Past Events </h3>
        <%= render partial: "shared/event-card", collection: @past_events, as: :event %>
      </div>
    <% end %>
    <% if admin_user? %>
      <%= link_to "New Event", new_event_path, class: "button" %>
    <% end %>
  </div>
</section>
