<section id="about">
  <div class="container">
    <h4 class="section-header"> Mission Statement </h4>
    <p>
      The Victoria S McGrath Foundation was created to honor the vibrant memory of Victoria McGrath and continue her work.  The projects we will sponsor are of the following areas:  vulnerable refugee children, US veterans and their families, and special needs children.  We aim to bring hope, care for those in need and open doors for the impoverished to improve their lives.
      <br><br>
      We partner with charity organizations who provide local, on the ground support.  See the Events page for examples of events, and charities we plan to support going forward.
      <br><br>
      <strong>The Victoria S McGrath Foundation is a 501(c)(3) organization.</strong>
    </p>
  </div>
</section>
