<section id="about">
  <div class="container">
    <div class="section-wrapper">
      <h4 class="section-header"> About the Foundation </h4>
      <p>
        The Victoria McGrath Foundation is a 501(c)(3) organization founded in 2018 with a goal of “opening doors and uplifting lives.” The foundation honors the memory of a remarkable young woman, Victoria McGrath, who was committed to bringing hope and care for vulnerable, underserved people. Victoria was passionate about helping children with special needs, veterans and refugees displaced by conflict.  
        <br><br>
        While the McGrath family has been giving to worthy causes since Victoria’s death in 2016, the new foundation aims to more effectively amply our efforts to honor Victoria’s compassion and activism in caring for children in need and veterans.  Visit our <%= link_to "projects page", projects_path %> to view past projects as well as upcoming events that you can be a part of! 
        <br><br>
        We invite you to consider making a tax-deductible <%= link_to "donation", donate_index_path %> today to keep Victoria’s legacy of compassion alive!
      </p>
    </div>
  </div>
</section>