<section id="about">
  <div class="container">
    <h4 class="section-header"> Mission Statement </h4>
    <p>
      Praesent vel vehicula nulla. Fusce lacinia metus sed vestibulum placerat. Nam nec purus rhoncus, egestas tellus at, viverra magna. Donec rhoncus sapien vitae augue malesuada, in dapibus ipsum hendrerit. Cras hendrerit ex et mi cursus facilisis. Phasellus at mauris in elit rutrum convallis et ac urna. Suspendisse egestas neque faucibus nunc suscipit, ac tincidunt leo vehicula. Phasellus sodales elit non lectus dictum tincidunt. Donec rhoncus varius mauris ut dignissim. Maecenas cursus nisl non volutpat bibendum. In eget mi eget velit tincidunt pretium.
    </p>
    <h4 class="section-header"> Goals </h4>
    <p>
      Praesent vel vehicula nulla. Fusce lacinia metus sed vestibulum placerat. Nam nec purus rhoncus, egestas tellus at, viverra magna. Donec rhoncus sapien vitae augue malesuada, in dapibus ipsum hendrerit. Cras hendrerit ex et mi cursus facilisis. Phasellus at mauris in elit rutrum convallis et ac urna. Suspendisse egestas neque faucibus nunc suscipit, ac tincidunt leo vehicula. Phasellus sodales elit non lectus dictum tincidunt. Donec rhoncus varius mauris ut dignissim. Maecenas cursus nisl non volutpat bibendum. In eget mi eget velit tincidunt pretium.
    </p>
    <h4 class="section-header"> About Victoria </h4>
    <p>
      Praesent vel vehicula nulla. Fusce lacinia metus sed vestibulum placerat. Nam nec purus rhoncus, egestas tellus at, viverra magna. Donec rhoncus sapien vitae augue malesuada, in dapibus ipsum hendrerit. Cras hendrerit ex et mi cursus facilisis. Phasellus at mauris in elit rutrum convallis et ac urna. Suspendisse egestas neque faucibus nunc suscipit, ac tincidunt leo vehicula. Phasellus sodales elit non lectus dictum tincidunt. Donec rhoncus varius mauris ut dignissim. Maecenas cursus nisl non volutpat bibendum. In eget mi eget velit tincidunt pretium.
    </p>
  </div>
</section>
