<section id="events">
  <div class="container">
    <div class="section-wrapper">
      <div class="event-section">
        <h4 class="section-header section-header-centered"> Past Events </h4>
				<div class="event-grouping">
					<h5 class="section-header"> Victoria's Playgrounds </h5>
				</div>
        <div class="event-grouping">
					<h6 class="section-header"> Where Angels Play, Boys and Girls Club in Dorchester </h6>
          <div class="section-split section-split-centered">
            <div class="section-first section-content">
              <p>
                Volunteers spent the weekend celebrating Victoria's life building a playground in her honor at the Boys and Girls Club in Dorchester, MA.  Jimmy Plourde, Victoria's first responder in the marathon bombing, and now dear friend initiated the project with Where Angels Play.  Hundreds of children now play in this special place.
                <br><br>
                “Victoria is doing another great thing here. This is Victoria here, this is her giving back to the community,” Boston Mayor Marty Walsh
                <br><br>
                “This is not about tragedy, this is about my friend. This is about a friend that came and changed my life.”Jimmy Plourde
              </p>
            </div>
            <div class="section-second section-image">
              <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/family_2.jpg">
            </div>
          </div>
        </div>
				<div class="event-grouping">
					<h6 class="section-header right-align">  Cesar Batalla, Bridgeport CT </h6>
          <div class="section-split section-split-centered">
						<div class="section-second section-image">
              <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/family_2.jpg">
            </div>
            <div class="section-first section-content">
              <p>
								Our town of Weston, and the local Kiwanis rallied around us and uplifted Victoria by building a playground in her memory at Cesar Batalla in Bridgeport CT.  This is the largest elementary school in CT that now has it's first playground for young children.
              </p>
            </div>
          </div>
        </div>
				<div class="event-grouping">
					<h6 class="section-header"> Carter Park, Boston MA </h6>
          <div class="section-split section-split-centered">
            <div class="section-first section-content">
              <p>
								In the summer of 2018 Northeastern University and the City of Boston plan to open Carter Park.   The shared public park will be a hub of community and youth sports activity in Boston's South End and Roxbury neighborhoods.  The playground will be dedicated to the memory of Victoria, and will include specific accommodations for special needs children.

								“Victoria was very dedicated to the young minds, she made them believe in themselves and believe in the future", Northeastern President Joseph E. Aoun
              </p>
            </div>
            <div class="section-second section-image">
              <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/family_2.jpg">
            </div>
          </div>
        </div>
        <div class="event-grouping">
          <h5 class="section-header right-align"> Finishing her Race at the Boston Marathon </h5>
          <div class="section-split section-split-centered">
            <div class="section-second section-image">
              <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/family_2.jpg">
            </div>
            <div class="section-first section-content">
              <p>
                Victoria and her friend Glenn were training to run in the 2016 Boston Marathon.  Victoria was not a runner, but was determined to finish this marathon before the 5 Year Anniversary.  Glenn
                continued her work and finished the race last year, raising $X,XXX for FourBlock, an organization where they both volunteered.  FourBlock prepares veterans to successfully matriculate back into the workforce.
                <br><br>
                Kaitlynn Milone, a friend of Victoria and a Boston Marathon survivor, and her husband Michael also ran Boston for Victoria in 2017, raising $X,XXX for Where Angels Play.
                <br><br>
                We hope to launch a team to run for the foundation in 2019!
              </p>
            </div>
          </div>
        </div>
        <div class="event-grouping">
          <h5 class="section-header"> Helping Special Needs Children </h5>
          <div class="section-split section-split-centered">
            <div class="section-first section-content">
              <p>
                Victoria had a deep love and special affinity for caring for special needs children and those with disabilities.  She served in Special Forces (get new name) in our local church and as a short term missionary at Joni and Friends in New Hampshire.  Scholarships for teen missionaries were provided in 2016 in the memory of Victoria.
              </p>
            </div>
            <div class="section-second section-image">
              <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/family_2.jpg">
            </div>
          </div>
        </div>
        <div class="event-grouping">
          <h5 class="section-header right-align"> Encouraging Veterans </h5>
          <div class="section-split section-split-centered">
            <div class="section-second section-image">
              <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/family_2.jpg">
            </div>
            <div class="section-first section-content">
              <p>
                Victoria became interested in helping veterans following the marathon bombing -- she could relate and was embraced by them --  welcomed as a member into Veterans Support Groups.  She volunteered with <a href="http://fourblock.org/">FourBlock</a>, mentoring veterans and developing programs to help them in returning to the workplace.
                <br><br>
                "Victoria represents the best of volunteerism in the veterans community as an ally who has joined forces to win the “fourth block” of coming home. Her own unique journey caused her to care deeply about the well-being of today’s veterans and she gave much during her lifetime to help them successfully transition into civilian life'.  The Victoria McGrath Volunteer of the Year Award honors Victoria’s legacy and encourages others to follow her example"
                Michael Abrams, Founder and Chairman Emeritus Four Block.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
