<section id="get-involved">
  <div class="container">
    <div class="section-wrapper">
      <h3 class="section-header section-header-centered"> Victoria's Story </h3>
      <div class="section-content">
        <p>
          The Victoria McGrath Foundation to “open doors and uplift lives”, was created to honor the memory of Victoria McGrath and continue her compassionate work with vulnerable, underserved people. 
        </p>
        <h5>Refugee Children</h5>
        <p>
          In the 7th Grade, Victoria went on a service trip to rural India where she helped orphanages and schools. This experience led to a lifetime of empathy and caring for others. Later, when Victoria learned that her local church was collecting donations for an organization in Bangladesh that provides refugee education and medical care for young women at risk, she selflessly gave her entire life savings (at the time $400 from babysitting) to the cause. 
        </p>
        <h5> Special Needs Children </h5>
        <p>
          Victoria’s family moved several times overseas while she was growing up. She struggled to find her place back in the U.S. after having spent many years living abroad. To help ease the transition, she continued to channel her energy in helping others. Victoria became a volunteer in the special needs ministry at her local church. This service led her to be a short-term missionary at a <%= link_to "Joni & Friends Family Retreat", projects_path %> in New Hampshire. Family retreats offer a haven for special needs families where they are encouraged and rejuvenated in a fully accessible camp environment.
        </p>
        <h5> Veterans and Their Families </h5>
        <p>
          On April 15, 2013, Victoria was watching the Boston Marathon near her favorite shop on Boylston Street when the first explosion took place - just five feet from where she was standing. Thanks to the courageous first responders and the staff at Tufts Hospital, Victoria survived, but sustained serious injuries. During her recovery, Victoria experienced limited mobility, and coped with pain and post-traumatic stress. Through this experience, she became interested in helping veterans who had suffered similar injuries. She was embraced by the veteran community and became a regular fixture at Veterans Support Groups. Soon Victoria was volunteering with FourBlock, mentoring veterans and developing programs to help them return to the workforce.
        </p>
        <p>
          Victoria was tragically killed in a car accident in May 2016, but her legacy and impact remain. During her brief 23 years in this world, Victoria modeled a life filled with compassion, empathy and service to others. The goal of the Victoria Foundation is to honor Victoria's legacy and encourage others to follow her example. 
          <br><br>
          <strong>"You will make known to me the path of life; In Your presence is fullness of joy." Psalm 16:11</strong>
        </p>
      </div>
    </div>
  </div>
</section>
