<section id="get-involved">
  <div class="container">
    <h3 class="section-header section-header-centered"> Victoria's Story </h3>
    <div class="section-split">
      <div class="section-first section-content">
        <p>
          Praesent vel vehicula nulla. Fusce lacinia metus sed vestibulum placerat. Nam nec purus rhoncus, egestas tellus at, viverra magna. Donec rhoncus sapien vitae augue malesuada, in dapibus ipsum hendrerit. Cras hendrerit ex et mi cursus facilisis. Phasellus at mauris in elit rutrum convallis et ac urna. Suspendisse egestas neque faucibus nunc suscipit, ac tincidunt leo vehicula. Phasellus sodales elit non lectus dictum tincidunt. Donec rhoncus varius mauris ut dignissim. Maecenas cursus nisl non volutpat bibendum. In eget mi eget velit tincidunt pretium.
        </p>
      </div>
      <div class="section-second section-image">
        <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/master.png">
      </div>
    </div>
    <div class="section-split">
      <div class="section-second section-image">
        <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/master.png">
      </div>
      <div class="section-first section-content">
        <p>
          Praesent vel vehicula nulla. Fusce lacinia metus sed vestibulum placerat. Nam nec purus rhoncus, egestas tellus at, viverra magna. Donec rhoncus sapien vitae augue malesuada, in dapibus ipsum hendrerit. Cras hendrerit ex et mi cursus facilisis. Phasellus at mauris in elit rutrum convallis et ac urna. Suspendisse egestas neque faucibus nunc suscipit, ac tincidunt leo vehicula. Phasellus sodales elit non lectus dictum tincidunt. Donec rhoncus varius mauris ut dignissim. Maecenas cursus nisl non volutpat bibendum. In eget mi eget velit tincidunt pretium.
        </p>
      </div>
    </div>
    <div class="section-split">
      <div class="section-first section-content">
        <p>
          Praesent vel vehicula nulla. Fusce lacinia metus sed vestibulum placerat. Nam nec purus rhoncus, egestas tellus at, viverra magna. Donec rhoncus sapien vitae augue malesuada, in dapibus ipsum hendrerit. Cras hendrerit ex et mi cursus facilisis. Phasellus at mauris in elit rutrum convallis et ac urna. Suspendisse egestas neque faucibus nunc suscipit, ac tincidunt leo vehicula. Phasellus sodales elit non lectus dictum tincidunt. Donec rhoncus varius mauris ut dignissim. Maecenas cursus nisl non volutpat bibendum. In eget mi eget velit tincidunt pretium.
        </p>
      </div>
      <div class="section-second section-image">
        <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/master.png">
      </div>
    </div>
  </div>
</section>
