<section id="get-involved">
  <div class="container">
    <div class="section-wrapper">
      <h3 class="section-header section-header-centered"> Victoria's Story </h3>
      <div class="section-split section-split-centered">
        <div class="section-second section-image">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/master.png">
        </div>
        <div class="section-first section-content">
          <p>
            The Victoria McGrath Foundation to Open Doors and Uplift Lives,  was created to honor the memory of Victoria McGrath and continue her work.
            <br><br>
            At an early age Victoria demonstrated empathy and caring for others.  Her first service trip was to rural India on a school trip in 7th Grade to help in orphanages and schools.  This is where it all started.
          </p>
        </div>
      </div>
      <div class="section-split section-split-centered">
        <div class="section-first section-content">
          <p>
            Later, attending a Christmas Eve church service where "Little White Boxes" (suitable for collecting coins and donations) are collected annually for missions work, we learned about an organization in Bangladesh that provides refuge, education and medical care for young women at risk.  Victoria was very moved and decided to give her entire life savings  (at the time ~$400 from baby-sitting) to the cause.  She set the example for us of giving generously from the heart.
          </p>
        </div>
        <div class="section-second section-image">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/family_2.jpg">
        </div>
      </div>
      <div class="section-split section-split-centered">
        <div class="section-second section-image">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/marathon_5.jpg">
        </div>
        <div class="section-first section-content">
          <p>
            We moved around a lot while Victoria was growing up - maybe too much. She struggled to find her place back in USA after many years living abroad.  To help cope, she channeled her energy in helping others -- volunteering at Special Forces in church (a ministry to care for children and young people with special needs) while their parents attended church. Through this ministry, she served as a Short Term Missionary at a Joni and Friends Family Retreat serving families affected by disability. Family retreats offer a haven for special needs families where they are encouraged and rejuvenated in a fully accessible camp environment. It is often in giving, that we forget our own struggles.  Victoria set the example for us.
          </p>
        </div>
      </div>
      <div class="section-split section-split-centered">
        <div class="section-first section-content">
          <p>
            Little did we know that years later Victoria would be in need of the same physical support and care. On April 15, 2013 Victoria was watching the Boston Marathon near her favorite shop (Sugar Heaven) on Boylston Street. She was 5 feet from the first explosion. Thanks to the courageous first responders and staff at Tufts Hospital Victoria survived.  She had serious injuries and experienced the trauma of a war zone.  During her recovery, Victoria experienced limited mobility, coping with pain, and post traumatic stress.  She became interested in helping veterans -- she could relate and was embraced by them -- welcomed as a member into Veterans Support Groups. She volunteered with FourBlock, mentoring veterans and developing programs to help them in returning to the workforce.
          </p>
        </div>
        <div class="section-second section-image">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/marathon_4.jpg">
        </div>
      </div>
      <div class="section-split section-split-centered">
        <div class="section-second section-image">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/firetruck.jpg">
        </div>
        <div class="section-first section-content">
          <p>
            Victoria was tragically killed in a car accident a few year later, but her legacy and impact remain.  Our aim is for this foundation to honor Victoria's legacy and encourage others to follow her example.
            <br><br>
            <strong><em>"You will make known to me the path of life; In Your presence is fullness of joy"  Psalm 16:11</em></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
