<section id="get-involved">
  <div class="container">
    <div class="section-wrapper">
      <h3 class="section-header section-header-centered center-align"> Victoria's Story </h3>
      <div class="project-grouping">
	      <div class="section-split section-split-centered">
	        <div class="section-second section-image carousel">
            <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/victoria_1.jpg">
            <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/firetruck.jpg">
            <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/marathon_6.jpg">
            <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/nasua_2.jpg">
	        </div>
	        <div class="section-first section-content">
            <p class="highlight-text">
              The Victoria McGrath Foundation to “open doors and uplift lives”, was created to honor the memory of Victoria McGrath and continue her compassionate work with vulnerable, underserved people.
              <br><br>
              This foundation is less a memorial itself, and more a testament to the thousands of moments of brightness Victoria brought into being.
            </p>
	        </div>
	      </div>
	    </div>
      <div class="section-content">
        <h5>Helping Children in Need</h5>
        <p>
          Our memories are strewn with examples of our daughter's empathy, intertwined with her growing up, watching this part of her develop as with the rest of her personality. In 7thgrade, she went on a service trip to rural India, helping in orphanages and schools. Later, attending a Christmas Eve church service where donations are collected for missions work, we learned about an organization in Bangladesh that provides refuge, education and medical care for young women at risk.  Victoria decided to give her entire life savings (from years of baby-sitting) to the cause. Just like that – there was no hesitation for her: once she saw goodness, there was no need for further explanation. Let us all try to follow her example.
          <br><br>
          We moved overseas several times while Victoria was growing up. She struggled to find her place back in the U.S. after having spent many years living abroad. To help ease the transition, she continued to channel her energy in helping others. Victoria became a volunteer in the special needs ministry at her local church. This service led her to be a short-term missionary at Joni & Friends in New Hampshire. Family retreats offer a haven for special needs families where they are encouraged and rejuvenated in a fully accessible camp environment.  In her memory, Joni and Friends Family Retreat is the "door opening" charity we will first sponsor.  
        </p>
        <h5> Veterans and Their Families </h5>
        <p>
          On April 15, 2013, Victoria was watching the Boston Marathon near her favorite shop on Boylston Street when the first explosion took place - just five feet from where she was standing. Thanks to the courageous first responders and the staff at Tufts Hospital, Victoria survived, but sustained serious injuries. During her recovery, Victoria experienced limited mobility, and coped with pain and post-traumatic stress. Through this experience, she became interested in helping veterans who had suffered similar injuries. She was embraced by the veteran community and became a regular fixture at Veterans Support Groups. Soon Victoria was volunteering with FourBlock, mentoring veterans and developing programs to help them return to the workforce.
        </p>
        <p class="center-align">
          <br><br>
          Victoria was tragically killed in a car accident in March 2016, but her legacy and impact remain. During her brief 23 years in this world, Victoria modeled a life filled with compassion, empathy and service to others. The goal of the Victoria Foundation is to honor Victoria's legacy and encourage others to follow her example. 
          <br><br>
          <em class="highlight-text">"You will make known to me the path of life; In Your presence is fullness of joy." Psalm 16:11</em>
        </p>
      </div>
    </div>
  </div>
</section>
