.donation-wrapper {
  @include margin(20px);

  @include media-up($medium-screen) {
    @include flex-responsive();

    .donation-system {
      flex-basis: 40%;
    }

    .donation-details {
      flex-basis: 60%;
    }
  }
}

.donation-address {
  margin-left: 15px;
}

.donation-system {
  align-items: center;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
  }

  .donation-item-wrapper {
    text-align: center;
  }
}
