.donation-wrapper {
  @include flex-responsive();
}

.donation-details,
.donation-form {
  flex-basis: 50%;
}

.donation-details {
  @include padding(20px);
}

.donation-form {
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
  }
}
