.event-card {
  background-color: $white;
  box-shadow: $base-box-shadow;
  color: $text-color;
}

.event-card__body {
  @include padding(20px);
  @include flex-responsive();
}

.event-card__image img {
  @include size(250px, auto);
  max-height: 400px;
}

.event-card__information {
  @include margin(20px 0);

  @include media-up($medium-screen) {
    @include margin(0 0 0 20px);
  }
}

.event-card__row {
  @include flex-responsive();
}

.event-card__item {
  flex-basis: 50%;
}

.event-card__date {
  @include flex-responsive();
  @include padding(5px null);
  align-items: center;
  background-color: $vsm-primary;
  color: $white;
  justify-content: center;

  h2, h3, h4 {
    margin-bottom: 0;
  }
}
