$footer-height: 175px;

footer {
  background-color: $vsm-primary;
  color: $white;
}

.footer-content {
  @include flex-responsive();
  min-height: $footer-height;
}

.footer-info,
.footer-action {
  @include flex-column();
  @include padding(10px);
  justify-content: center;
}

.footer-info {
  align-items: center;
  text-align: center;

  @include media-up($medium-screen) {
    flex-basis: 60%;
  }
}

.footer-action {
  align-items: center;

  @include media-up($medium-screen) {
    flex-basis: 40%;
  }

  @include media-down($medium-screen) {
    justify-content: center;
  }
}

.mailing-list-form {
  @include margin(10px 0);
}

.mailing-list-cta {
  text-align: center;
}

.contact-email {
  font-weight: $semibold-font-weight;
}

.subscribe-button {
  background-color: $vsm-darkest !important;
}

.svg-icon {
  svg {
    @include size(25px);
    fill: white;
  }
}
