.hero {
  @include flex-responsive();
  align-items: center;
  background-image: url("https://media.istockphoto.com/vectors/wave-seamless-pattern-in-doodle-style-vector-id531671567?s=2048x2048");
  background-size: cover;
  height: 400px;
}

.hero-content {
  @include padding(20px 50px);
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-weight: 300;
}
