.hero {
  @include flex-responsive();
  align-items: center;
  background-image: url("https://s3.amazonaws.com/victoriamcgrathfoundation/logos/vmf-svg.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 300px;
}

.hero-content {
  @include padding(20px 50px);
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-weight: 300;
}
