.hero {
  @include flex-responsive();
  align-items: center;
  background-image: url("https://s3.amazonaws.com/victoriamcgrathfoundation/logos/homepage_logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $white;
  height: 550px;
}

.hero-content {
  @include padding(20px 50px);
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-weight: 300;
}
