.item-row {
  @include flex-responsive();

  &.item-row-centered {
    align-items: center;

    @include media-up($medium-screen) {
      justify-content: center;
    }
  }
}

.row-element {
  @include padding(10px 10px);

  @include media-up($medium-screen) {
    @include padding(null 40px);
  }

  &.row-element-centered {
    text-align: center;
  }
}

.one-third {
  flex-basis: 33%;

  img {
    @include size(250px, auto);

    @include media-up($medium-screen) {
      @include size(400px, auto);      
    }
  }
}

.two-thirds {
  flex-basis: 66.7%;
}
