.item-row {
  @include flex-responsive();

  &.item-row-centered {
    align-items: center;
    justify-content: center;
  }
}

.row-element {
  @include padding(10px 30px);

  &.row-element-centered {
    text-align: center;
  }
}

.one-third {
  flex-basis: 33%;

  img {
    @include size(300px auto);
  }
}

.two-thirds {
  flex-basis: 66.7%;
}
