.section-split {
  @include flex-responsive();

  .section-first {
    flex-basis: 60%;
  }

.section-second {
  @include margin(20px);
  flex-basis: 40%;
}

  &.section-split-centered {
    align-items: center;
  }
}

.section-image {
  @include size(400px);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;


  img {
    @include size(100% auto);
  }
}
