.section-split {
  @include flex-responsive();

  .section-first,
  .section-second {
    flex-basis: 50%;
  }

  &.section-split-centered {
    align-items: center;
  }
}

.section-content {
  @include margin(30px);
  display: flex;
  align-items: center;
}

.section-image {
  text-align: center;
  vertical-align: middle;
  img {
    @include size(450px auto);
  }
}
