.full-page-text {
  @include padding(80px 0);
  text-align: center;
}

.blue-gold-contrast {
  @include padding(null 4px);
  background-color: blue;
  color: gold;
}

.door-open-images {
  display: flex;
  justify-content: center;

  @include media-down($medium-screen) {
    flex-direction: column;
  }
}

.triple-display-item {
  @include media-up($medium-screen) {
    @include padding(10px);
    text-align: center;
  }
}

.wasl-image-wrapper {
  overflow: hidden;
}

.wasl-image {
  width: 150%;

  @include media-up($medium-screen) {
    width: 100%;
  }
}

.wasl-photos {
  img {
    @include media-up($medium-screen) {
      @include margin(null 10px);
    }

    @include media-up($large-screen) {
      @include margin(null 60px);
    }
  }
}

#funding-stats {
  background-color: $primary-color;
}

.funding-stats {
  @include padding(30px 10px);
  color: $white;
  text-align: center;

  .funding-stats__title {
    margin: 0;
  }

  .funding-stats__orgs {
    @include margin(10px null);
  }

  .funding-stats__org-item {
    color: $primary-color-darkest;
    margin: 0;
  }
}

#vsm-introduction {
  @include margin(40px null);
}

#home-featured-project {
  background-color: $white;

  .featured-project {
    border-top: $gray-border;
    padding-top: 30px;
  }

  .featured-project__image {
    @include padding(20px 0);
    position: relative;
    text-align: center;

    img {
      max-height: 600px;
      max-width: 100%;

      @include media-up($medium-screen) {
        transform: translate(-20%, 0);
      }
    }
  }

  .featured-project__image-caption {
    @include padding(40px);
    background-color: $offwhite-background;

    @include media-up($medium-screen) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0, -50%);
    }
  }
}
